<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Explorer</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Music Explorer</h1>
        <input type="text" id="search" placeholder="Search your favourite artists, albums or songs...">
        <div id="results"></div>
    </div>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>